
.display-in-block{
    display: inline-block;
}


/* 
    header style
*/

header, body, footer{
    font-family: 'Inter', sans-serif;
}

.action-div{
    width: 100px;
    background-color: black;
    border-radius: 50px;
    padding: 12px 24px ;
    text-align: center;
}
.action-div a{
    color: white;
    text-align: center;
}

.header-div{
    display: flex;
    align-items: center;
    max-width: 1440px ;
    width: 100%;
    margin: 0 auto;
    /* border: 3px solid firebrick; */
    justify-content: space-between;
    padding: 34.5px 32px 24px 32px ;
}

.nav-div ul{
    display: flex;
    width: 328px;
    justify-content: space-between;
    /* border:  3px solid darkgrey; */
    font-size: 16px ;
    font-weight: 500;
}

/* main - 1 section */

.first-section-div{
    display: flex;
    justify-content: space-around;
    margin-top: 64px;
}
.first-container{
    width: 490px;
}

.first-container h1{
    font-weight: 900;
    font-size: 56px;
    line-height: 60px;
    margin-bottom: 24px ;
}

.first-text{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 40px ;
}

.action-btn-text{
    width: 236px;
    font-weight: 600;
    size: 14px;
    margin-left: 20px;
    vertical-align: middle;
    line-height: 20px;
}

/*  section two - features */

.features-section-div{
    display: flex;
    padding: 64px 150px ;
    background-color: #F3F3F3;
    justify-content: space-between;
    margin-top: 64px;
}
.circle-div{
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 100%;
    vertical-align: middle;

}

.features-block{
    width: 360px;
}

.features-block h3{
    vertical-align: middle;
    font-weight: 700;
}

.features-block p{
    margin-top: 16px ;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}

/*  section third - black comtainer */
/* .container-div-third{
    background-color: black;
} */
.third-section-div{
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    padding: 96px 150px;
    border: 3px solid red;
}

.features-text-div{
    width: 503.5px;
    margin-left: 133px;
    margin-top: 82px ;
}

.features-text-div h3{
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
}

.features-text-div p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1;
    margin-bottom: 16px;
}

.features-text-div h4{
    font-weight: 400;
    font-size:16px;
    line-height: 24px;
    letter-spacing: -0.1px;
}

.action-div-white{
    background-color: white;
    color: black;
    width: 100px;
    border-radius: 50px;
    padding: 12px 24px ;
    text-align: center;
    margin: 0 auto;
   
}

.action-div-white a{
    color: black;
}
.relative-div{
    position: relative;
    /* background-color: slategray; */
    
}

.img-cover{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.absolute-div {
    position: absolute;
    width: 540px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.absolute-div h4{
    font-size: 16px;
    font-weight: 500px;
    line-height: 24px;
    text-align: center;
    color: white;
    margin-bottom: 10px;

}

.absolute-div h2 { 
    font-size: 40px;
    line-height: 48px;
    font-weight: 900;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.footer{
    width: 1440px;
    border: 3px solid teal;
    background-color: black;
    width: 100%;

    
}
.footer-container a{
    color: white;
}


.footer-container{
    margin: 96px auto;
    padding: 0 auto;
    display: flex;
    color: wheat;
    /* background-color: black; */
    justify-content: space-between;
    width: 1140px;
}

.footer-blocks {
    border: 3px solid pink ;
    width: 228px;
}

.footer-blocks h3 {
    margin-bottom: 16px;
    color: #F3F3F3;
    font-weight: 700;

}
.footer-blocks li{
    margin-bottom: 8px;
}

.sub-p{
    color: grey;
}



